{% for file_group in srcs -%}
{%- if source_annotations -%}
// {{ file_group.metadata }}
{% endif -%}
{%- for file in file_group.files -%}
{%- if source_annotations %}{% if file.comment -%}
// {{ file.comment }}
{% endif %}{% endif -%}
{%- if relativize_path -%}
{%- if file.file is starting_with(root) -%}
{{ file.file | replace(from=root, to='') | trim_start_matches(pat='/') }}
{% else -%}
{{ file.file }}
{% endif -%}
{%- else -%}
{{ file.file }}
{% endif -%}
{%- endfor -%}
{%- endfor %}
